.container-grafico {
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;     /* centraliza verticalmente */
  height: 100vh;           /* ocupa a altura inteira da tela */
}