<a routerLink="/home">
    <mat-icon aria-hidden="false" class="icone-grande" label="Example home icon" fontIcon="home">
   </mat-icon>
    <div>
      <span class="icone-label"> Back Home</span>
    </div>
 </a>

<h1>SOBRE A CALCULADORA</h1>
<p></p>

<div class="texto">
    
    <h3>
        Uma calculadora eletrônica é tipicamente um dispositivo eletrônico portátil 
        usado para realizar cálculos, variando de aritmética básica a matemática complexa.
    </h3>
    <h3>
        Neste projeto vamos utilizar apenas a operação de soma.
        Disponibilizamos dois campos para informar os valores ao qual poderemos realizar a soma deles.
    </h3>
    <h3>
        O real propósito é explicar rotas de várias páginas como: home, sobre, calculadora e primeiro. 
        Estas rotas foram configuradas em componnets individualmente e são chamadas através do menu na home.
    </h3>
    
</div>

<app-texto></app-texto>
