.paragrafo{
    margin-top: 10%
}

.botaoSoma{
    background-color: blue;
    margin: 10px;
}

.botaoLimpar{
    height: 35px;
    max-width: 600px;
    width: 100px;
    height: 47px;
    display: inline-flex;
    align-items: center;
    gap: 8px; /* espaço entre o ícone e o texto */
    margin: 10px;
}

input{
    background-color:rgb(226, 220, 220);
    height: 30px;
    margin-left: 1%;
}
section {
  display: flex;
  align-items: center;
}

.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

/* .example-button-row {
  width: 90px;
  height: 35px;
  margin-left: 1%;
  background-color: rgb(7, 87, 134);
  top: -14px;
} */

.example-button-soma {
  width: 90px;
  height: 35px;
  margin-left: 10%;
  background-color: rgb(7, 87, 134);
}

/* .example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
} */

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lado-lado{
    display:inline-flex;
    margin-left: 1%;
    height: 40px;
    margin: 10px;
}

.campo {
  margin-top: 3%;
  width: 500%;
  max-width: 180px;
  height: 40px;
}

.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.example-button-row {
  max-width: 600px;
  width: 100px;
  height: 50px;
  margin-left: 1%;
}