<br>
<h1 style="margin: 10px;">CALCULADORA</h1>

<h3 style="margin: 10px;">Some dois Números:</h3>

<mat-form-field appearance="outline" class="campo" style="margin-left: 10px;">
  <mat-label>Número1</mat-label>
  <input
    matInput
    [formControl]="number1Ctrl"
    type="number"
    placeholder="Digite um valor...">

  @if (number1Ctrl.hasError('required') && number1Ctrl.touched) {
    <mat-error>Campo obrigatório</mat-error>
  }
</mat-form-field>

<mat-form-field appearance="outline" class="lado-lado">
  <mat-label>Número2</mat-label>
  <input
    matInput
    [formControl]="number2Ctrl"
    type="number"
    placeholder="Digite um valor...">

  @if (number2Ctrl.hasError('required') && number2Ctrl.touched) {
    <mat-error>Campo obrigatório</mat-error>
  }
</mat-form-field>

<button matButton="filled" (click)="sumNumbers()">
  Somar
</button>

<br><br>

<h3 style="margin: 10px;">Resultado: {{ result }}</h3>

<br>

<div>
  <button class = "botaoLimpar" matButton="filled" (click)="clearNum()">
    <mat-icon>delete</mat-icon>
    Limpar
  </button>
</div>