<br>
<h1 style="margin: 10px;">CALCULADORA</h1>
<br>
<h3 style="margin: 10px;">Some dois Números:</h3>

<mat-form-field appearance="outline" class="campo"  style="margin-left: 10px;">
  <mat-label>Número1</mat-label>
  <input
    matInput
    [formControl]="textoCtrl"
    type="number"
    [(ngModel)]="number1"
    maxlength="50"
    placeholder="Digite um valor...">
</mat-form-field>

<mat-form-field appearance="outline" class="lado-lado">
  <mat-label>Número2</mat-label>
  <input
    matInput
    [formControl]="textoCtrl"
    type="number"
    [(ngModel)]="number2"
    maxlength="50"
    placeholder="Digite um valor...">
</mat-form-field>

<button class = "example-button-row" matButton = "filled" (click)="sumNumbers()">
        Somar
</button>
<br>
<br>
    <h3  style="margin: 10px;">Resultado: {{ result }}</h3>
<br>


<div>
  <button class = "botaoLimpar" matButton = "filled" (click)="clearNum()">
      <mat-icon>delete</mat-icon>
        Limpar
  </button> 
</div> 


