<a routerLink="/home">
    <mat-icon aria-hidden="false" class="icone-grande" label="Example home icon" fontIcon="home">
   </mat-icon>
    <div>
      <span class="icone-label"> Back Home</span>
    </div>
 </a>

<div class="cep-container">
  <h2>Consulta de CEP</h2>
  <mat-form-field appearance="outline">
    <mat-label>Digite o CEP</mat-label>
    <input  matInput [(ngModel)]="cep"
    required
    pattern="^[0-9]{8}$"
    maxlength="8"
    minlength="8"
    (keypress)="permitirSomenteNumeros($event)"
    (paste)="bloquearColar($event)"
    (drop)="bloquearColarMouse($event)"
    (dragover)="bloquearColarMouse($event)"
    (contextmenu)="bloquearCliqueDireito($event)"
    placeholder="Ex: 01001000" style="
    height: 50px">
  </mat-form-field>

  <button mat-raised-button color="primary"
   (click)="consultar()" [disabled]="loading">
    {{ loading ? 'Consultando...' : 'Consultar CEP' }}
  </button>



  <mat-card *ngIf="resultado" class="cep-card">
    <mat-card-title>Resultado da Consulta</mat-card-title>
    <mat-card-content>
      <p><strong>CEP:</strong> {{ resultado.cep }}</p>
      <p><strong>Logradouro:</strong> {{ resultado.street }}</p>
      <p><strong>Bairro:</strong> {{ resultado.neighborhood }}</p>
      <p><strong>Cidade:</strong> {{ resultado.city }}</p>
      <p><strong>Estado:</strong> {{ resultado.state }}</p>
    </mat-card-content>
  </mat-card>

  <mat-error *ngIf="error">{{ error }}</mat-error>
  
</div>