.cep-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: 5px auto;
  /*margin-top: 5%;*/
}
.icone-grande {
  font-size: 48px;
  margin-left: 95%;
  width: 48px;
  height: 48px;
}
.icone-label {
  margin-left: 94%;
  width: 48px;
  height: 48px;
}
.cep-card {
  margin-bottom: 10%;
}