<mat-toolbar class="corToolbar">
      <h1>Conteúdo do toolbar!</h1>
</mat-toolbar>

<div class="menu">
    <button mat-button routerLinkActive="menu" [matMenuTriggerFor]="aboveMenu">Menu</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item (click)="onMenuClick('/about')">Sobre</button>
      <button mat-menu-item (click)="onMenuClick('/calculator')">Calculadora</button>
      <button mat-menu-item (click)="onMenuClick('/primeiro')">Foto</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="utilitMenu">Utilitários</button>
    <mat-menu #utilitMenu="matMenu" yPosition="above">
      <button mat-menu-item (click)="onMenuClick('/curso')">Curso</button>
      <button mat-menu-item (click)="onMenuClick('/grafico-barra')">Gráfico Barra</button>
      <button mat-menu-item (click)="onMenuClick('/pipe')">Pipe</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="diretivasMenu">Diretivas</button>
    <mat-menu #diretivasMenu="matMenu" yPosition="above"> 
      <button mat-menu-item (click)="onMenuClick('/dataBinding')">Data Binding </button>
      <button mat-menu-item (click)="onMenuClick('/ngif')">Diretiva NgIf</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="diversaoMenu">Diversão</button>
    <mat-menu #diversaoMenu="matMenu" yPosition="below">
       <button mat-menu-item (click)="onMenuClick('/video')">Vídeo</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="belowMenu">Componentes</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item (click)="onMenuClick('/texto')">Texto</button>
      <button mat-menu-item (click)="onMenuClick('/input')">Input</button>
      <button mat-menu-item (click)="onMenuClick('/cep')">CEP</button>
    <!-- <button mat-menu-item>DropDown</button> -->
  </mat-menu>
</div>

<router-outlet></router-outlet>

 

