<mat-toolbar class="corToolbar">
      <h1>Conteúdo do toolbar!</h1>
</mat-toolbar>

<div class="menu">
    <button mat-button [matMenuTriggerFor]="aboveMenu">Menu</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item (click)="onMenuClick('/about')">Sobre</button>
      <button mat-menu-item (click)="onMenuClick('/calculator')">Calculadora</button>
      <button mat-menu-item (click)="onMenuClick('/primeiro')">Foto</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu">Help</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item (click)="onMenuClick('/texto')">Texto</button>
      <button mat-menu-item (click)="onMenuClick('/input')">Input</button>
      <button mat-menu-item (click)="onMenuClick('/cep')">CEP</button>
      <!-- <button mat-menu-item>DropDown</button> -->
    </mat-menu>
</div>

<router-outlet></router-outlet>

 

