<p>curso works!</p>
<a  href="{{nomePortal}}" target="_blank" rel="noopener noreferrer"> 
    <!-- o link será aberto em uma nova aba -->
{{nomePortal}}
</a>

<!-- <app-curso-detalhe></app-curso-detalhe> -->

<ul>
    <li *ngFor="let curso of cursos">
        {{curso}}
    </li>
</ul>

<br>
<br>
<!-- chamada de componente - data-binding -->
<app-data-binding></app-data-binding>

<!-- chamada de componente - app-grafico -->
<app-grafico
  [labels]="['Jan','Fev','Mar','Abr']"
  [data]="[10,20,30,15]"
  titulo="Vendas do mês">
</app-grafico>