<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<a routerLink="/home">
    <mat-icon aria-hidden="false" class="icone-grande" label="Example home icon" fontIcon="home">
   </mat-icon>
    <div>
      <span class="icone-label"> Back Home</span>
    </div>
 </a>

<mat-form-field appearance="outline" class="campo">
  <mat-label>Nome</mat-label>
  <input
    matInput
    [formControl]="textoCtrl"
    maxlength="50"
    (input)="onInput($event)"
    placeholder="Digite aqui..."
  >
  <mat-hint align="end">{{ textoCtrl.value?.length || 0 }}/2</mat-hint>
  @if (textoCtrl.hasError('required')) {
  <mat-error>Campo obrigatório</mat-error>
  } 

  <mat-error *ngIf="textoCtrl.hasError('maxlength')">
    Máximo de 2 caracteres
  </mat-error>
  <!-- <mat-error *ngIf="textoCtrl.hasError('pattern')"> -->
    <!-- Apenas letras maiúsculas são permitidas -->
  <!-- </mat-error> -->
</mat-form-field>